<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="./css/about.css">
</head>

<body>
    <header>
        <ul>
            <li><a href="./home.html">HOME</a></li>
            <li><a href="./store.html">STORE</a></li>
            <li><a href="" style="color: skyblue;">ABOUT</a></li>
        </ul>
        <h1 id="title">The Music Store</h1>
    </header>

    <main>
        <section id="about">
            <h2>About Us</h2>
            <div>
                <img src="./images/music-icon.jpg" alt="profile-pic">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero cum voluptates sequi explicabo,
                    nemo
                    laborum iusto ut veritatis expedita eligendi, incidunt nobis possimus nam odio ipsam mollitia
                    doloribus
                    rerum assumenda?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti id doloribus vero placeat, non
                    error
                    reprehenderit voluptatem impedit facilis aut rerum molestiae et ipsum, tenetur expedita. Voluptates
                    voluptatum libero quam, nostrum ipsum voluptate, omnis voluptatem nam aspernatur impedit eveniet
                    error.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores et sunt earum sint provident
                    rerum
                    iste ea perspiciatis in voluptate ipsam laboriosam sapiente praesentium nisi molestias nostrum
                    fugiat
                    quam aut necessitatibus quod rem aperiam voluptates, voluptatibus repudiandae? Aut non fuga,
                    quibusdam
                    eos, neque maiores vitae fugiat soluta incidunt aperiam libero iste? A eligendi, quae explicabo
                    porro
                    eum odit illum doloremque autem omnis dolor minima! Assumenda voluptatum fuga, excepturi atque esse
                    temporibus exercitationem eaque impedit. Cumque optio pariatur molestias, beatae consequatur soluta
                    officiis numquam odio inventore exercitationem quidem reiciendis nisi quam quaerat praesentium fugit
                    fugiat incidunt porro at omnis dolor earum!
                </p>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-title">The Music Store</div>
        <div class="footer-icons">
            <ul>
                <li><a href=""><img src="./images/youtube.png" alt="youtube"></a></li>
                <li><a href=""><img src="./images/spotifypng.png" alt="spotify"></a></li>
                <li><a href=""><img src="./images/insta.jpg" alt="instagram"></a></li>
            </ul>
        </div>
    </footer>
</body>

</html>